<!-- Banner Section Start -->
<section class="cus-banner">
	<div class="jumbotron jumbotron-fluid jumbotron-simple text-light text-center font-weight-bold" style="">
		<h1>Colorado's CPAs. Together.</h1>
		<p class="intro-hero">For learning, for the future, for the profession.</p>
	</div>
	<div class="triangle"></div>
</section>
<!-- Banner Section Ends -->

<!-- Main/Search Section Start -->
<div class="laruta-content cus-main-sec">
	<div class="cus-container search-buttons py-5">
		<div class="w-100 d-md-block d-md-flex flex-md-column flex-lg-row justify-content-md-around">
			<a href="#" class="large-graphic-button accent-search-button" style="background-image: url(../../../assets/images/join-community.svg);">
				<div>
					<h3>Join</h3>
					<p>Become part of the COCPA Community</p>
				</div>
			</a>
			<a href="#" class="large-graphic-button primary-search-button" style="background-image: url(../../../assets/images/cpe-search-bg.svg);">
				<div>
					<h3>CPE Search</h3>
					<p>Find CPE Events &amp; self-study programs.</p>
				</div>
			</a>
		</div>
	</div>
	<div class="cus-inner-main">
		<div class="cus-row">
			<div class="cus-col-12">

				<div class="cus-container simple-quote align-items-center">
					<div class="d-flex flex-column justify-content-between text-center">
						<div class="quote-text">COCPA connects CPAs personally and meaningfully to all aspects of the accounting profession.</div>
						<div class="quote-info">
							<div class="quote-author-name"></div>
						</div>
					</div>
				</div>

				<div class="cus-container simple-featured-intro-text">
					<div class="featured-intro-text breakout-color" style="text-alignment: center">
						<h3> <strong>ALERT:</strong> Due to the mask mandate now in place for Denver and the surrounding public health region, the COCPA office is closed to guests, effective, November 24, 2021, until further notice. All events, CPE seminars, and meetings are virtual only. For assistance, contact your COCPA team via online chat, or call 303-773-2877/800-523-9082. Thank you for your understanding in these ever-evolving times.</h3>
					</div>
				</div>

				<div class="section upcoming-event-panels" style="margin: 3rem 0;">
					<div class="container-smart">
						<h2 class="text-center">Upcoming Featured Events</h2>
						<p class="intro-copy text-center" style="margin: 3rem auto; width: 50%;"> The conferences, major seminars, and unique membership events to move your career and our profession forward, together </p>
						<div class="featured-events">
							<!-- Slice slider here -->
							<div class="event-panel">
								<div class="top overlayed-content">
									<div class="overlay">
										<a href="" class="cus-button btn button-medium button-secondary" tabindex="-1">Register Now</a>
									</div>
									<div class="content">
										<div class="date">12/15/2021</div>
										<div class="image">
											<img src="../../../assets/images/175-Max-Logo-File-COCPA-SEC-PCAOB-2021.png" alt="" class="img-fluid">
										</div>
										<div class="credits">
											<span class="tag-thin">8.0  Credits </span>
										</div>
									</div>
									<div class="background-image">
										<img src="../../../assets/images/300x270-COCPA-SEC-PCAOB-2021.jpg" class="img-fluid">
									</div>
								</div>
								<div class="bottom">
									<h3>SEC and PCAOB Conference</h3>
									<div>
										<span class="tag-thin">Webcast</span>
									</div>
								</div>
							</div>

							<div class="event-panel">
								<div class="top overlayed-content">
									<div class="overlay">
										<a href="" class="cus-button btn button-medium button-secondary" tabindex="-1">Register Now</a>
									</div>
									<div class="content">
										<div class="date">12/15/2021</div>
										<div class="image">
											<img src="../../../assets/images/175-Max-Logo-File-COCPA-SEC-PCAOB-2021.png" alt="" class="img-fluid">
										</div>
										<div class="credits">
											<span class="tag-thin">8.0  Credits </span>
										</div>
									</div>
									<div class="background-image">
										<img src="../../../assets/images/300x270-COCPA-SEC-PCAOB-2021.jpg" class="img-fluid">
									</div>
								</div>
								<div class="bottom">
									<h3>SEC and PCAOB Conference</h3>
									<div>
										<span class="tag-thin">Webcast</span>
									</div>
								</div>
							</div>

							<div class="event-panel">
								<div class="top overlayed-content">
									<div class="overlay">
										<a href="" class="cus-button btn button-medium button-secondary" tabindex="-1">Register Now</a>
									</div>
									<div class="content">
										<div class="date">12/15/2021</div>
										<div class="image">
											<img src="../../../assets/images/175-Max-Logo-File-COCPA-SEC-PCAOB-2021.png" alt="" class="img-fluid">
										</div>
										<div class="credits">
											<span class="tag-thin">8.0  Credits </span>
										</div>
									</div>
									<div class="background-image">
										<img src="../../../assets/images/300x270-COCPA-SEC-PCAOB-2021.jpg" class="img-fluid">
									</div>
								</div>
								<div class="bottom">
									<h3>SEC and PCAOB Conference</h3>
									<div>
										<span class="tag-thin">Webcast</span>
									</div>
								</div>
							</div>

						</div>
						<div class="cus-container button-container">
							<a href="#" class="cus-button btn button-medium button-secondary">See All Featured Events</a>
						</div>
					</div>
				</div>

				<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
					<div class="cus-container wysiwyg-content">
						<p>
							<iframe title="" width="500" height="281" src="https://www.youtube.com/embed/753Vn_zRYxg?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
						</p>
					</div>
				</div>

				<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
					<div class="cus-container wysiwyg-content">
						<p>
							<img class="aligncenter" src="../../../assets/images/Member-Promise-_-New-Member-Welcome-Kit-2021-_-COCPA.jpg" alt="" width="997" height="645">
						</p>
					</div>
				</div>

				<div class="testimonial-quote cus-container align-items-center mt-3">
					<div class="cus-col-sm-12 cus-col-md-4 text-center photo">
						<img class="img-fluid rounded-circle" src="../../../assets/images/Randy-Watkins-Headshot-1.jpg">
					</div>
					<div class="cus-col quote">
						<div class="quotation-mark">
							<i class="fas fa-quote-left"></i>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<div class="quote-text">As CPAs, we’ve done a great job on so many levels, but change is happening so quickly, and adapting can be a challenge. As a profession, we’re up for it. Join me in creating the best future possible for those we serve.</div>
							<div class="quote-info">
								<div class="quote-author-name">Randy L. Watkins, CPA, CGMA, CCIFP <br> Chair, COCPA Board of Directors</div>
							</div>
						</div>
					</div>
				</div>

				<div class="bg-fx diagonal-no-image"></div>

 				<div class="bg-fx diagonal-with-image"></div>

 				<div class="rotator rotator-colored-panel-resources" style="">
					<div class="cus-container">
						<!-- Slick slider here -->
						<div>
							<a href="#" target="_blank" style="width: 100%; display: inline-block;" tabindex="-1">
								<img src="../../../assets/images/2021-scaled.jpg" style="display: inline-block; width: 100%">
							</a>
						</div>


						<div class="tile slick-slide slick-active">
							<h5>COCPA</h5>
							<h3>Volunteer Opportunities</h3>
							<p>Build connections with your professional community and strengthen your COCPA.</p>
							<a href="#" class="link-rounded-right-arrow" target="_blank" tabindex="0">
								<span class="icon-arrow-right"></span>
							</a>
						</div>
						<div class="tile slick-slide slick-active">
							<h5>CGMA</h5>
							<h3>Enroll now in the Finance Leadership Program</h3>
							<p>Distinguish yourself as a strategic leader. Earn global designation for financial professionals.</p>
							<a href="#" class="link-rounded-right-arrow" target="_blank" tabindex="0">
								<span class="icon-arrow-right"></span>
							</a>
						</div>
					</div>
				</div>

				<div class="testimonial-quote cus-container align-items-center mt-3">
					<div class="cus-col-sm-12 cus-col-md-4 text-center photo">
						<img class="img-fluid rounded-circle" src="../../../assets/images/COCPA-Staff-Mary-Medley.jpg">
					</div>
					<div class="cus-col quote">
						<div class="quotation-mark">
							<span class="icon-quotes-left"></span>
						</div>
						<div class="d-flex flex-column justify-content-between">
							<div class="quote-text">Our work is important because it materially affects the public interest, and our work is a joy because it happens in relationship with members, staff, sponsors, and other stakeholders.</div>
							<div class="quote-info">
								<div class="quote-author-name">Mary E. Medley <br> CEO, Colorado Society of CPAs</div>
							</div>
						</div>
					</div>
				</div>

				<div class="rotator rotator-simple-text-resources slick-initialized slick-slider slick-dotted">
 					<!-- Slick Slider Here -->
					<div class="cus-container simple-image-text-shadowed-box slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1">
						<h1>
							<img class="img-fluid mx-auto" src="../../../assets/images/NewsQuick-COCPA.jpg" alt="" title="NewsQuick COCPA" data-acf="image" style="box-shadow:0 2px 7px #666">
						</h1>
						<div>
							<h3 data-acf="headline">Advertise in NewsQuick</h3>
							<div data-acf="body">
								<p><em>NewsQuick</em> is COCPA’s weekly email newsletter, designed to bring members only a timely, comprehensive round-up of the week’s latest accounting and business<br> news, events, and resources.</p>
								<p><a href="#" tabindex="-1"><strong>LEARN MORE</strong></a></p>
							</div>
						</div>
					</div>

				</div>

				<div class="row-spacer d-flex" style="min-height: 7rem; height: 7rem;"> &nbsp; </div>

				<div class="rotator rotator-large-image-resources" style="">
					<div class="cus-container">
						<div class="container-relative">
							=>Slick Slider Here<=
							<div>
								<a href="#" target="_blank" style="width: 100%; display: inline-block;" tabindex="0">
									<img class="w-100 img-fluid" src="../../../assets/images/White-Paper-Download.jpg">
								</a>
							</div>

						</div>
					</div>
				</div>

				<div class="row-spacer d-flex" style="min-height: 5rem; height: 5rem;"> &nbsp; </div> 

				<div class="laruta-block single-header w-100 d-flex justify-content-center align-items-center mx-auto my-5 p-0">
					<h1 class="secondary-color">COCPA Partners </h1>
				</div>

 				<div class="laruta-block single-header w-100 d-flex justify-content-center align-items-center mx-auto my-5 p-0">
 					<h2 class="gray-dark"><strong>Platinum</strong></h2>
 				</div>

 				<div class="cus-container wysiwyg px-4 py-4 cus-container-fluid" style="justify-content: center">
					<div class="cus-container wysiwyg-content">
						<p align="center">
							<a href="#" src="../../../assets/images/CAM-REG_Logo_hor_CMYK-registered-rev.png" alt="" width="50%"></a>
						</p>
						<p align="center">
							<a href="#" target="_blank" rel="noopener">
								<img src="../../../assets/images/Intuit-Accountants-logo.jpg" alt="" width="60%">
							</a>
						</p>
					</div>
				</div>

				<div class="cus-container wysiwyg px-4 py-4 container-fluid" style="justify-content: center">
					<div class="cus-container wysiwyg-content">
						<p align="center">
							<a href="#" target="_blank" rel="noopener">
								<img class="aligncenter" src="../../../assets/images/Xledger-Logo-for-Use.jpg" alt="" width="30%">
							</a>
						</p>
					</div>
				</div>

				<div class="cus-container"> <hr> </div>

				<div class="laruta-block single-header w-100 d-flex justify-content-center align-items-center mx-auto my-5 p-0">
					<h2 class="gray-dark">
						<strong>Silver</strong>
					</h2>
				</div>

				<div class="cus-container">
					<div class="cus-row">
						<div class="cus-col-xs-12 cus-col-md-4">
							<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
								<div class="cus-container wysiwyg-content">
									<p align="center">
										<a href="#" target="_blank" rel="noopener">
											<img class="aligncenter" style="max-width: 100%; height: 200px;" src="../../../assets/images/Xero-Logo-Blue-002.png" alt="Xero" width="200">
										</a>
									</p>
								</div>
							</div>
						</div>
						<div class="cus-col-xs-12 cus-col-md-4">
							<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
								<div class="cus-container wysiwyg-content">
									<p align="center">
										<a href="#" target="_blank" rel="noopener">
											<img loading="lazy" width="384" height="110" class="alignnone wp-image-776002" style="max-width: 100%; height: auto;" src="../../../assets/images/SurgentCPAR_logo_Color-mark_3000x860.png" alt="" srcset="" sizes="(max-width: 384px) 100vw, 384px">
										</a>
									</p>
								</div>
							</div>
						</div>
						<div class="cus-col-xs-12 cus-col-md-4">
							<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
								<div class="cus-container wysiwyg-content">
									<p align="center">
										<a href="#" target="_blank" rel="noopener">
											<img class="aligncenter" style="max-width: 100%; height: auto;" src="../../../assets/images/CSSI-Logo.png" alt="">
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="cus-row">
						<div class="cus-col-xs-12 cus-col-sm-6">
							<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
								<div class="cus-container wysiwyg-content">
									<p align="center">
										<a href="#" target="_blank" rel="noopener">
											<img class="alignnone" style="max-width: 100%; height: auto;" src="../../../assets/images/TaxConnex_logo_TM_tagline2019-Copy.png" alt="">
										</a>
									</p>
								</div>
							</div>
						</div>
						<div class="cus-col-xs-12 cus-col-sm-6">
							<div class="cus-container wysiwyg px-4 py-4" style="justify-content: center">
								<div class="cus-container wysiwyg-content">
									<p align="center">
										<a href="#">
											<img class="aligncenter" style="max-width: 100%;height:auto;" src="../../../assets/images/CVIP_Color_TM-700x138.jpg" alt="">
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row-spacer d-flex" style="min-height: 5rem; height: 5rem;"> &nbsp; </div>

				<div class="full-width-block full-width-quick-links text-dark" style="background-color: #e8f1fa;">
 						<h5>Quick Links</h5>
 						<div class="list-logos align-items-center col6">
 							<div class="logo">
 								<a href="#" target="_blank">
 									<img class="img-fluid" src="../../../assets/images/colorado-dept-revenue.png" title="" alt="" style="">
 								</a>
 							</div>
 							<div class="logo">
 								<a href="#" target="_blank">
 									<img class="img-fluid" src="../../../assets/images/CO-dept-regulatory-agencies-logo.png" title="" alt="" style="">
 								</a>
 							</div>
 							<div class="logo">
 								<a href="#" target="_blank">
 									<img class="img-fluid" src="../../../assets/images/AICPA-logo.png" title="" alt="" style="">
 								</a>
 							</div>
 							<div class="logo">
 								<a href="#" target="_blank">
 									<img class="img-fluid" src="../../../assets/images/CGMA-logo.png" title="" alt="" style="">
 								</a>
 							</div>
 							<div class="logo">
 								<a href="#" target="_blank">
 									<img class="img-fluid" src="../../../assets/images/NASBA_logo_ClearBgd.png" title="" alt="" style="">
 								</a>
 							</div>
 							<div class="logo">
 								<a href="#">
 									<img class="img-fluid" src="../../../assets/images/federation-of-tax-administrators.png" title="" alt="" style="">
 								</a>
 							</div>
 						</div>
 					</div>

			</div>
		</div>
	</div>
</div>