*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 26px;
  color: #2a2a2a;
}

/* Common Css Start */
a {
  text-decoration: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.position-sticky {
  position: sticky !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.w-100 {
  width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.pr-0, .px-0 {
  padding-right: 0 !important;
}

.mt-0, .my-0 {
  margin-top: 0 !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.mr-4, .mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4, .mx-4 {
  margin-left: 1.5rem !important;
}

.pt-3, .py-3 {
  padding-top: 1rem !important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important;
}

.pt-sm-5, .py-sm-5 {
  padding-top: 3rem !important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.pt-4, .py-4 {
  padding-top: 1.5rem !important;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.pb-2, .py-2 {
  padding-bottom: 0.5rem !important;
}

.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}

.pl-0, .px-0 {
  padding-right: 0 !important;
}

.pl-0, .px-0 {
  padding-left: 0 !important;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pr-2, .px-2 {
  padding-right: 0.5rem !important;
}

.pl-2, .px-2 {
  padding-left: 0.5rem !important;
}

.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.cus-col, .cus-col-1, .cus-col-2, .cus-col-3, .cus-col-4, .cus-col-5, .cus-col-6, .cus-col-7, .cus-col-8, .cus-col-9, .cus-col-10, .cus-col-11, .cus-col-12, .cus-col-auto, .cus-col-lg, .cus-col-lg-1, .cus-col-lg-2, .cus-col-lg-3, .cus-col-lg-4, .cus-col-lg-5, .cus-col-lg-6, .cus-col-lg-7, .cus-col-lg-8, .cus-col-lg-9, .cus-col-lg-10, .cus-col-lg-11, .cus-col-lg-12, .cus-col-lg-auto, .cus-col-md, .cus-col-md-1, .cus-col-md-2, .cus-col-md-3, .cus-col-md-4, .cus-col-md-5, .cus-col-md-6, .cus-col-md-7, .cus-col-md-8, .cus-col-md-9, .cus-col-md-10, .cus-col-md-11, .cus-col-md-12, .cus-col-md-auto, .cus-col-sm, .cus-col-sm-1, .cus-col-sm-2, .cus-col-sm-3, .cus-col-sm-4, .cus-col-sm-5, .cus-col-sm-6, .cus-col-sm-7, .cus-col-sm-8, .cus-col-sm-9, .cus-col-sm-10, .cus-col-sm-11, .cus-col-sm-12, .cus-col-sm-auto, .cus-col-xl, .cus-col-xl-1, .cus-col-xl-2, .cus-col-xl-3, .cus-col-xl-4, .cus-col-xl-5, .cus-col-xl-6, .cus-col-xl-7, .cus-col-xl-8, .cus-col-xl-9, .cus-col-xl-10, .cus-col-xl-11, .cus-col-xl-12, .cus-col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.cus-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.cus-col-12 {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.flex-column, .flex-row {
  -webkit-box-direction: normal !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.font-size-30 {
  font-size: 3rem;
}

.primary-font {
  font-family: 'Montserrat', sans-serif !important;
}

.gray-light {
  color: #adadad;
}

.gray-dark {
  color: #4f4f4f;
}

.bg-white {
  background-color: #fff !important;
}

.lrt-secondary-color, .secondary-color {
  color: #235b9c;
}

.font-size-18 {
  font-size: 1.8rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

  .no-gutters > .cus-col, .no-gutters > [class*=cus-col-] {
    padding-right: 0;
    padding-left: 0;
  }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cus-container, .cus-container-fluid, .cus-container-lg, .cus-container-md, .cus-container-sm, .cus-container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  height: 48px;
  width: 100%;
}

img {
  border-style: none;
}

img, svg {
  vertical-align: middle;
}

img {
  -ms-flex-item-align: center;
  align-self: center;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  line-height: inherit;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

.d-none {
  display: none !important;
}
/* Common Css Ends */


@media (min-width: 768px) {
  .super-nav-links.static .scroll-button {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    width: 5%;
    height: 100%;
  }

  .super-nav-links.static .scroll-button {
    display: none;
  }

  .super-nav-links .scroll-button.scroll-left {
    border-right: 1px solid #fff;
  }

  .super-nav-links {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 15%;
    margin-left: -1.5rem;
    margin-right: 1rem;
  }

    .super-nav-links nav {
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
      overflow: -moz-scrollbars-none;
      width: 90%;
    }

    .super-nav-links .scroll-button.scroll-right {
      border-left: 1px solid #fff;
    }

  .membership-badge-container .membership-badge .membership-badge-label {
    font-size: 1.6rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1rem;
  }

  .super-nav-links nav > a:hover {
    text-decoration: none;
  }

  .mt-md-5, .my-md-5 {
    margin-top: 3rem !important;
  }
}

@media (min-width: 960px) {
  .super-nav-links {
    max-width: 60%;
  }

  .membership-badge-container .membership-badge .membership-badge-label {
    padding-bottom: 1rem;
  }

  .super-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .primary-links {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 60px;
  }
}

@media (min-width: 1200px) {
  .mr-xl-0, .mx-xl-0 {
    margin-right: 0 !important;
  }

  .ml-xl-0, .mx-xl-0 {
    margin-left: 0 !important;
  }
}

/* Header section css start */
.super-nav-container {
  background-color: #2a2a2a;
}

.cus-header {
  position: relative;
  z-index: 100;
}

.super-nav-links nav {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

  .super-nav-links nav, .super-nav-links nav > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

    .super-nav-links nav > a {
      -webkit-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 15px;
    }

      .super-nav-links nav > a:hover {
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        background-color: #000;
      }

      .super-nav-links nav > a > div {
        color: #fff;
        font-size: 1.3rem;
        padding: 0 3px;
        margin: auto;
        text-decoration: underline;
      }

      .super-nav-links nav > a + a {
        border-left: 1px solid #fff;
      }

.user-account-menu {
  margin-left: auto;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif !important;
  height: 100%;
  position: relative;
}

.super-nav-container, .user-account-menu {
  z-index: 4;
}

.login-con {
  border-left: 1px solid #fff;
  color: #fff;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 700;
}

  .login-con, .login-con:hover, .logout-con:hover {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

.membership-badge-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 2;
}

.membership-badge {
  z-index: 1;
}

.membership-badge-container .membership-badge {
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  position: relative;
  left: 0;
  background: #235b9c;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 0 9px rgb(0 0 0 / 76%);
  box-shadow: 0 0 9px rgb(0 0 0 / 76%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  margin: -0.5rem 0 -0.5rem 1rem;
  padding: 1.5rem 1.4rem;
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}

  .membership-badge-container .membership-badge .membership-badge-label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-column-break-inside: auto;
    -moz-column-break-inside: auto;
    break-inside: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

.tooltip-con {
  display: none;
}

.primary-nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #4f368e;
}

#primaryNav.primary-nav-container {
  padding: 15px 0;
}

.primary-nav {
  z-index: 3;
}

.primary-nav-container .primary-nav {
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

#primaryNav.primary-nav-container .primary-nav {
  max-height: unset;
}

.primary-nav-container .primary-nav > * {
  padding: 3rem 0;
}

#headerSiteLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#primaryNav.primary-nav-container .primary-nav > * {
  padding: 0;
}

#headerSiteLogo img {
  display: none;
  width: 100%;
  height: 100%;
}

.primary-nav-container .primary-nav #headerSiteLogo img.dark-over-light {
  display: block;
}

.primary-links .primary-link {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
}

  .primary-links .primary-link, .primary-links .primary-link:hover {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

.primary-nav-container .primary-nav .primary-link:not(.site-action) {
  /*color: #4f4f4f;*/
  color: #fff;
  border-bottom: 3px solid rgba(79,79,79,0);
}

  .primary-nav-container .primary-nav .primary-link:not(.site-action):hover {
    /*color: #4f4f4f;*/
    color: #fff;
    /*border-bottom: 3px solid #4f4f4f;*/
    border-bottom: 3px solid #fff;
  }

#siteActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

  #siteActions > div {
    padding: 0 10px;
  }

.primary-nav-container .primary-nav .site-action span {
  /*color: #4f4f4f;*/
  color: #fff;
  border: 3px solid rgba(79,79,79,0);
}

.laruta-header #siteActions .site-action span {
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  font-size: 2.2rem;
  padding: 1rem;
  border-radius: 2.2rem;
  line-height: 2.2rem;
}

#mobileNavToggle {
  cursor: pointer;
  display: inline-block;
  padding: 3px 13px;
  margin-bottom: 0;
}
/* Header section css end */

/* Tabs section css start */
#catalogFilterTop {
  background: #e9eff7;
}

  #catalogFilterTop .cus-row .cus-col-12 > div.page-title {
    display: block;
    opacity: 1;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  #catalogFilterTop .cus-row .cus-col-12 > div.mw-1140 {
    max-width: 1140px;
  }

.search-switcher {
  z-index: 1;
}

  .search-switcher .search-switcher-absolute-container {
    margin: 25px 0;
  }

.search-switcher-container {
  width: 100%;
  display: inline-block;
}

  .search-switcher-container select {
    color: #235b9c;
    text-decoration: none;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    background-color: transparent;
    border: none;
    outline: none;
  }

    .search-switcher-container select:focus {
      outline: none;
    }

.search-switcher .search-switcher-container > a, .search-switcher h4 {
  color: #fff;
}

  .search-switcher .search-switcher-container > a, .search-switcher .search-switcher-container > a:hover {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

.search-switcher .search-switcher-absolute-container a {
  color: #235b9c !important;
}

.collapse:not(.show) {
  display: none;
}

.form-group label, .laruta-h5, h5 {
  font-weight: 700;
  letter-spacing: .24rem;
  text-transform: uppercase;
}

.enabled-searches {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.facetwp-facet {
  margin-bottom: 40px;
}

.facetwp-facet {
  margin-bottom: 2.5rem;
}

  .facetwp-facet[data-type=radio] {
    position: relative;
    margin-bottom: 0;
  }

#catalogFilterTop .row .col-12 .facetwp-facet[data-type=radio] {
  padding-top: 3rem;
}

#catalogFilterTop .cus-row .cus-col-12 + .cus-col-12 .facetwp-facet[data-type=radio] {
  padding-top: 1.5rem;
}

.facetwp-facet[data-type=radio] nav.scrollable {
  position: relative;
  width: 100%;
  max-width: 1140px;
  font-size: 0;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.facetwp-facet[data-type=radio]:after {
  position: absolute;
  content: "";
  display: block;
  height: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 0.1rem solid rgba(11,18,87,.5);
  z-index: 0;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
  border-bottom: 1px solid #235b9c;
  width: 100%;
}

.facetwp-facet[data-type=radio] nav.scrollable .nav-tabs {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: none;
}

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.fwp-radio {
    position: relative;
    background: hsla(0,0%,100%,0);
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: solid rgba(11,18,87,0);
    border-width: 0.1rem 0.1rem 0;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.selected {
    background: #fff;
    border-color: rgba(11,18,87,.5);
  }

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.fwp-radio span {
    display: inline-block;
    vertical-align: middle;
    color: #235b9c;
    font-size: 1.6rem;
    line-height: inherit;
    font-weight: 700;
    padding: 1rem 0 2rem;
    border-bottom: 0.4rem solid rgba(35,91,156,0);
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.selected span {
    border-bottom-color: #235b9c;
  }

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.fwp-radio:after {
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 0.1rem solid rgba(11,18,87,0);
    z-index: 5;
  }

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.selected:after {
    border-bottom-color: #fff;
  }

  .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.disabled {
    cursor: default !important;
    pointer-events: none !important;
  }

    .facetwp-facet[data-type=radio] nav.scrollable .nav-tabs div.disabled span {
      border-bottom-color: rgba(35,91,156,0) !important;
    }

.facetwp-radio {
  background: url("/assest/images/radio.png") 0 50% no-repeat;
  background-size: 14px 14px;
  margin-bottom: 4px;
  padding-left: 20px;
  cursor: pointer;
}

  .facetwp-checkbox.disabled, .facetwp-radio.disabled {
    opacity: 0.4;
    cursor: default;
  }
/* Tabs section css ends */

/* Main filter section start */
.catalog-container .row:first-of-type {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#catalogFiltersColumn {
  -webkit-overflow-scrolling: touch;
}

#closeMobileFilter {
  font-size: 2.4rem;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.catalog-container .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-reset-filters {
  color: #5b2e8b;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .05rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 0 0.75rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
  text-decoration: none;
}

h5.facet-label {
  color: #818181;
}

.facetwp-input-wrap {
  display: inline-block;
  position: relative;
}

.facetwp-icon {
  right: 0;
  height: 100%;
  line-height: 1;
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

input.facetwp-search, input.facetwp-location {
  margin: 0;
  padding-right: 30px;
  min-width: 240px;
}

.facetwp-facet input {
  width: 100%;
  padding: 1rem 2.8rem 1rem 1rem;
  border: 1px solid #89acd5;
  border-radius: 0.4rem;
}

.fdate-input {
  outline: none;
}

.facetwp-facet input {
  width: 100%;
  padding: 1rem 2.8rem 1rem 1rem;
  border: 1px solid #89acd5;
  border-radius: 0.4rem;
}

  .facetwp-facet input.facetwp-date-min {
    margin-bottom: 1rem;
  }

.fs-wrap {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
}

.facetwp-facet.facetwp-type-fselect .fs-wrap {
  width: 100%;
}

.fs-label-wrap {
  width: 220px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: default;
}

.fs-label-wrap, .fs-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.facetwp-facet.facetwp-type-fselect .fs-wrap .fs-label-wrap {
  border: 1px solid #235b9c;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
}

.fs-label-wrap .fs-label {
  padding: 6px 22px 6px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.facetwp-facet.facetwp-type-fselect .fs-wrap .fs-label-wrap .fs-label {
  color: #235b9c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 2.8rem 1rem 1rem;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.fs-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;
  transition: ease-in 0.15s;
}

.facetwp-facet.facetwp-type-fselect .fs-wrap .fs-label-wrap .fs-arrow {
  right: 1rem;
  border-top-color: #235b9c;
}

.catalog-container h5.facet-label {
  margin: 0;
  color: #818181;
}

.catalog-container .cus-row:first-of-type {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.facetwp-facet select.facetwp-dropdown {
  border: 1px solid #235b9c;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  width: 220px;
  position: relative;
  background-color: #fff;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #235b9c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 2.8rem 1rem 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.facetwp-results .facetwp-selections ul {
  margin: 0;
  padding: 0;
}

  .facetwp-results .facetwp-selections ul li {
    position: relative;
    display: inline-block;
    line-height: 1;
    margin: 0 2rem 1rem 0;
    padding: 0;
    border: 1px solid #235b9c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.4rem;
  }

    .facetwp-results .facetwp-selections ul li:last-of-type {
      margin-right: 0;
    }

    .facetwp-results .facetwp-selections ul li span.facetwp-selection-label {
      display: none;
    }

    .facetwp-results .facetwp-selections ul li span.facetwp-selection-value {
      background: none;
      margin: 0;
      padding: 6px 26px 6px 10px;
      display: inline-block;
      color: #235b9c;
      font-size: 1.3rem;
      line-height: 1;
      letter-spacing: .1rem;
      text-transform: uppercase;
      border: 1px solid rgba(35,91,156,0);
      -webkit-transition: all .35s ease-in-out;
      -o-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
    }

    .facetwp-results .facetwp-selections ul li:after {
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 0.5rem;
      font-family: "Font Awesome 5 Pro" !important;
      content: "\f00d";
      color: #235b9c;
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

.facetwp-pager {
  margin: 0;
  padding: 2.5rem 1.5rem 1.5rem;
  border-top: 2px solid hsla(0,0%,68%,.2);
}

.catalog-item {
  position: relative;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  color: inherit;
}

.catalog-item .card {
  border-radius: 5px;
}

.catalog-item .card {
  background: #fff;
  border: 1px solid #bcbcbc;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.catalog-container .row:first-of-type {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.catalog-item .card .card-body, .catalog-item .card .card-footer, .catalog-item .card .card-header {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 1rem 1.25rem;
}

.catalog-item .card .card-header {
  background: rgba(213,243,248,.5);
}

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.catalog-item .card .card-header .date {
  text-align: center;
}

  .catalog-item .card .card-header .date .day, .catalog-item .card .card-header .date .month, .catalog-item .card .card-header .date .year {
    line-height: 1.1;
    font-weight: 700;
  }

  .catalog-item .card .card-header .date .month, .catalog-item .card .card-header .date .year {
    color: #adadad;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .catalog-item .card .card-header .date .day {
    color: #2fb1bb;
    font-size: 2.3rem;
  }

  .catalog-item .card .card-header .date .mobile-only .day, .catalog-item .card .card-header .date .mobile-only .month, .catalog-item .card .card-header .date .mobile-only .year {
    font-size: 1.5rem;
  }

.catalog-item .card .card-header .card-title {
  color: #235b9c;
  line-height: 1.25;
  margin: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.catalog-item .card .card-header .cpe-label {
  position: relative;
  -webkit-transform: translateX(2rem);
  -o-transform: translateX(2rem);
  transform: translateX(2rem);
}

  .catalog-item .card .card-header .cpe-label span {
    position: relative;
    width: 90px;
    padding: 0.75rem 1rem;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    background: #119b4b;
    border-color: #119b4b;
    -webkit-box-shadow: 0 4px 14px rgb(0 0 0 / 20%);
    box-shadow: 0 4px 14px rgb(0 0 0 / 20%);
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
  }

.catalog-item .card .card-footer .card-details .detail-item {
  position: relative;
  margin-bottom: 1rem;
  border-color: #bfbfbf;
}

  .catalog-item .card .card-footer .card-details .detail-item:first-of-type::before, .catalog-item .card .card-footer .card-details .detail-item:last-of-type::before {
    content: none;
  }

  .catalog-item .card .card-footer .card-details .detail-item:first-of-type, .catalog-item .card .card-footer .card-details .detail-item:last-of-type {
    padding-left: 0;
  }

  .catalog-item .card .card-footer .card-details .detail-item div, .catalog-item .card .card-footer .card-details .detail-item label {
    line-height: 1;
  }

  .catalog-item .card .card-footer .card-details .detail-item label {
    color: #adadad;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    letter-spacing: .16rem;
    text-transform: uppercase;
  }

  .catalog-item .card .card-footer .card-details .detail-item div {
    color: #005d6f;
    font-size: 1.4rem;
  }
/* Main filter section ends */

/* Footer Section Css Start */
.laruta-footer {
  background-color: #d1e3f6;
  background-size: cover;
  margin: 0;
  padding: 3rem 0;
}

  .laruta-footer .footer-left-nav {
    background-color: inherit;
    color: #4f4f4f;
    font-weight: 500;
    margin-right: 3rem;
  }

  .laruta-footer .section-link {
    margin: 0;
  }

  .laruta-footer .footer-left-nav div, .laruta-footer .footer-left-nav li {
    font-size: 1.2rem;
  }

  .laruta-footer a, .laruta-footer a.nav-link {
    padding: 1% 0;
    color: #4f4f4f !important;
    font-weight: 500;
    text-decoration: underline !important;
    display: inline-block;
  }

  .laruta-footer .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  .laruta-footer .footer-logo a {
    display: block;
    padding: 0;
  }

    .laruta-footer .footer-logo a img {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      max-width: 100%;
    }

  .laruta-footer .footer-left-nav > div:not(:first-child) {
    padding: 2rem 0;
  }

  .laruta-footer .footer-left-nav address {
    font-weight: 600;
  }

    .laruta-footer .footer-left-nav address span {
      display: block;
    }

      .laruta-footer .footer-left-nav address span a.phone-link {
        display: inline-block;
        padding: 0;
        float: left;
        color: #4f4f4f;
        -webkit-transition: all .25s ease-in;
        -o-transition: all .25s ease-in;
        transition: all .25s ease-in;
      }

        .laruta-footer .footer-left-nav address span a.phone-link:last-of-type {
          padding-left: 1rem;
          margin-left: 1rem;
          border-left: 1px solid #4f4f4f;
        }

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 300;
}

.laruta-footer ul {
  text-align: left !important;
  margin: 0.7rem 0;
  padding-left: 0;
}

.laruta-footer li {
  list-style: none;
}

.footer-social-links li {
  width: 50%;
}

.laruta-footer .footer-left-nav div, .laruta-footer .footer-left-nav li {
  font-size: 1.2rem;
}

.footer-social-links li a {
  color: #4f4f4f;
  text-decoration: none !important;
}

  .footer-social-links li a span:first-of-type {
    display: inline-block;
    padding-right: 5px;
  }

.laruta-footer .footer-right-nav {
  margin-left: 3rem;
}

.laruta-footer h3 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.laruta-footer li {
  list-style: none;
}

.laruta-footer .footer-right-nav li, .laruta-footer .footer-right-nav p {
  font-size: 1.4rem;
}
/* Footer Section Css Ends */

/* Menus section css start */
.submenus {
  z-index: 3;
}

  .submenus .submenu {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

    .submenus .submenu.closed {
      -webkit-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }

  .submenus .submenu-content {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    overflow: hidden;
    max-width: 1140px;
    width: 100%;
  }

    .submenus .submenu-content .submenu-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
    }

  .submenus .block.link-list {
    margin-top: 2.6rem;
  }

  .submenus .submenu-content .submenu-column .link-list .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .submenus .submenu-content a {
    color: #fff;
    text-decoration: underline;
  }

  .submenus .block.link-list .links a {
    padding-bottom: 0.5rem;
  }

  .submenus .submenu-content h5 {
    color: #fff;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .submenus .block.link-list.link-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin-bottom: 3rem;
  }

  .submenus .block.link-list.major-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .submenus .block.header + .submenus .block.link-list, .submenus .block.link-list:not(:first-of-type) {
    margin-top: 0;
  }

  .submenus .block.special-image img {
    max-height: 60px;
  }

  .submenus .block.featured-items > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -0.7rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }

  .submenus .block.featured-items .featured-link {
    background-color: grey;
    border-radius: 0.4rem;
    overflow: hidden;
    margin-top: 1.5rem;
    width: 100%;
  }

    .submenus .block.featured-items .featured-link img {
      margin-top: 0;
      width: 100%;
      height: 100%;
    }

  .submenus .block.featured-items .see-more-link.is-text {
    background-color: #235b9c;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
  }

  .submenus .submenu.opened {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
  }

  .submenus .submenu-content .submenu-column .link-list .links a {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

/* Menus section css ends */

@media (min-width: 576px) {
  .cus-container {
    max-width: 540px;
  }

  .cus-col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .cus-col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .d-sm-none {
    display: none !important;
  }

  .pb-sm-5, .py-sm-5 {
    padding-bottom: 3rem !important;
  }

  .mb-sm-4, .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }

  .cus-col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .pl-sm-5, .px-sm-5 {
    padding-left: 3rem !important;
  }
}

@media (min-width: 768px) {
  .enabled-searches {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .cus-container {
    max-width: 720px;
  }

  .cus-col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .cus-col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .cus-col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .cus-col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .laruta-h3, h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .catalog-item .card .card-header .date .mobile-only {
    display: none;
  }

  .pl-md-4, .px-md-4 {
    padding-left: 1.5rem !important;
  }

  .pr-md-4, .px-md-4 {
    padding-right: 1.5rem !important;
  }

  .mt-md-0, .my-md-0 {
    margin-top: 0 !important;
  }

  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .laruta-footer {
    padding: 5rem 0;
  }

    .laruta-footer .section-link {
      margin: 4.5rem 0;
    }

  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 769px) {
  .form-group label, .laruta-h5, h5 {
    font-size: 1.1rem;
  }
}

@media (min-width: 800px) {
  .search-switcher {
    position: relative;
  }

    .search-switcher .search-switcher-absolute-container {
      position: absolute;
      min-width: 311px;
    }
}

@media (min-width: 960px) {
  #mobileNavToggle {
    display: none;
  }

  #catalogFilterTop.position-fixed {
    top: 0;
    z-index: 1;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
    position: fixed;
  }

    #catalogFilterTop.position-fixed .cus-top-filter.hide-sec {
      opacity: 0;
      display: none;
    }

  .submenus {
    position: relative;
  }

  #mobileNav, .mobile-controls {
    display: none;
  }

  .submenus .submenu-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

    .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2), .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column {
      display: block;
    }

      .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2):first-child:nth-last-child(n+3).column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2):first-child:nth-last-child(n+3).column-2, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2):first-child:nth-last-child(n+3) ~ a.column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2):first-child:nth-last-child(n+3) ~ a.column-2, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column:first-child:nth-last-child(n+3).column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column:first-child:nth-last-child(n+3).column-2, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column:first-child:nth-last-child(n+3) ~ a.column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column:first-child:nth-last-child(n+3) ~ a.column-2 {
        margin-right: 1.5rem;
        width: 25%;
      }

      .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2).column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2).column-2, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column.column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column.column-2 {
        margin-right: 1.5rem;
        width: 50%;
      }

      .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2).column-3, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column.column-3 {
        width: 50%;
      }

      .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) .link-list .links, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column .link-list .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }

        .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) .link-list .links a, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column .link-list .links a {
          margin-top: 0.7rem;
          margin-bottom: 0.7rem;
          text-align: left;
        }

  .submenus .block.featured-items .featured-link {
    width: 44%;
    margin-right: 1.5rem;
    max-width: 22rem;
    max-height: 7.5rem;
  }

  .submenus .submenu.opened {
    padding: 18rem 3rem 15rem;
  }

  .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1).column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1).column-2, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1).column-3, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1) ~ a.column-1, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1) ~ a.column-2, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1) ~ a.column-3 {
    width: 100%;
  }
}

@media (min-width: 960px) and (min-width: 960px) {
  .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) .link-list .links a, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+2) ~ .submenu-column .link-list .links a {
    margin-left: 0;
    margin-right: 0;
  }

  .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1) .link-list .links a, .submenus .submenu-content .submenu-column:first-child:nth-last-child(n+1) ~ a .link-list .links a {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 992px) {
  .cus-container {
    max-width: 960px;
  }

  .cus-col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .cus-col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .catalog-item .card .card-footer .card-details .detail-item {
    width: 25%;
    padding-left: 2.5rem;
  }

    .catalog-item .card .card-footer .card-details .detail-item:before {
      position: absolute;
      top: 0;
      left: 1.3rem;
      bottom: 0;
      content: "";
      width: 0;
      height: auto;
      border: none;
      border-left: 1px solid #bfbfbf;
    }
}

@media (min-width: 1200px) {
  .cus-container {
    max-width: 1140px;
  }
}
