.overview-box-1 .ui-card-body {
    background-color: #F39611 !important;
  }
  
  .overview-box-2 .ui-card-body {
    background-color: #326DDF;
  }
  
  .overview-box-3 .ui-card-body {
    background-color: #E02364;
  }
  
  .overview-box-4 .ui-card-body {
    background-color: #7DC931;
  }