.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.well {
  width: 80%;
  top: 20px;
  left: 10%;
  right: 10%;
  margin-bottom: 20px !important;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

.filter-course {
  left: 15%;
  width: 89%;
  margin-top: 10px;
}

.tabs-filter {
  left: 15%;
  width: 71.40%;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-bottom: 20px !important;
}

a {
  color: #3c8dbc;
  text-decoration: none;
}

@media (max-width: 767px) {
  #catalogFilterTop.position-fixed {
    top: 0;
    z-index: 1;
    transition: all .25s ease-in;
    position: fixed;
    width: 71.4% !important;
  }

  .p-text {
    position: inherit !important;
    margin-left: 0px !important;
    color: #235b9c;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .item-details {
    font-size: 10px;
  }

  .coursecomplete-card {
    margin-bottom: 15px;
    height: 600px !important;
  }

  .cus-col-md-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .p-text-grid {
    height: 471px !important;
  }
}

@media (min-width: 960px)and (max-width: 1100px) {
  .coursecomplete-card {
    margin-bottom: 15px;
    height: 500px !important;
  }

  .screen {
    position: absolute;
    top: 251% !important;
    left: 65% !important;
  }
}

@media (min-width: 768px)and (max-width: 960px) {
  .coursecomplete-card {
    margin-bottom: 15px;
    height: 500px !important;
  }

  .cus-col-md-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .screen {
    position: absolute;
    top: 251% !important;
    left: 65% !important;
  }

  .p-text-grid {
    height: 487px !important;
  }
}

.courses-margin {
  margin-top: 25px;
}

.courses-margin-grid {
  margin: auto;
}

#catalogFilterTop.position-fixed {
  top: 0;
  z-index: 1;
  transition: all .25s ease-in;
  position: fixed;
  width: 71.4% !important;
}

.p-text-grid {
  color: #235b9c;
  font-size: 1.6rem;
  font-weight: 500;
  height: 294px;
}

.coursecomplete-card {
  height: 210px;
  margin-bottom: 15px;
}

.coursecomplete-card-grid {
  margin-bottom: 15px;
}

.p-text {
  position: absolute;
  margin-left: 122px;
  color: #235b9c;
  font-size: 1.6rem;
  font-weight: 500;
}

.catalog-list-item {
  text-overflow: ellipsis;
  overflow: visible;
  white-space: normal;
  padding-top: 15px;
  line-height: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbb;
}

.desc {
  font-weight: 500;
}

.img-thumbnail-grid {
  margin: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 144px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 90px
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #bbb;
}

.panel-default {
  border-color: #bbb;
}

.shopping-card {
  margin-left: 32px;
}

.shopping-details {
  font-size: 13px !important;
  color: #235b9c;
}
.empty-cart {
  font-size: 13px !important;
  margin-bottom:20px!important
}
.shopping-margin {
  margin-left: 13px;
}
.total-shoppingcart{
    font-weight:500;
    padding-left:13px;
}
.checkout-shoppingcart {
  font-weight: 500;
  width:50%;
}
.search-switcher .search-switcher-absolute-container {
  margin: 0px 0 !important;
}

.S-btn-addToCart {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: 3px;
  font-size: 14px;
}

.catalog-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.item-details {
  font-size: 13px;
}

.br {
  display: block;
  margin-bottom: -6px !important;
}

.list-heading {
  font-weight: 600;
}

.grid-fotter {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0,0,0,.125);
  border-color: #bbb;
}

.grid-card-footer {
  height: 77px !important;
}

.display-block {
  display: block !important
}

.display-none {
  display: none !important
}

.dropdown-menu {
  font-size: inherit;
  font-weight: inherit;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
  background-clip: padding-box;
}

.MainNavbarCourseTesterCheckbox {
  color: initial;
  pointer-events: auto;
  cursor: pointer !important;
  margin-left: 0;
  padding: 5px 5px 5px 10px;
  display: block;
  font-size: 14px;
}

.dragClass {
  height: 100%;
  width: 100%;
}
