
<div id="larutaContent" class="laruta-content">
  <div class="cus-col-12 filter-course">
    <div class="well">
      <h4 class="desc">Welcome, Cody, to the new Alabama State Bar on-demand courses platform.</h4>
      <ul>
        <li>If you have questions or technical issues please contact us at <a href="mailto:usersupport@prolearn.io?subject=alabar">support@learn.io</a></li>
        <li>For questions about accessing the CLE's please contact <a href="mailto:ms@alabar.org">ms@alabar.org</a></li>
        <li>For questions about accessing the Alabama online course please contact <a href="mailto:admit@alabar.org">admit@alabar.org</a></li>
      </ul>
    </div>
  </div>
  <div class="cus-col-12 tabs-filter panel">
    <div id="catalogFilterTop" class="w-100">
      <div class="cus-row no-gutters my-0">
        <div class="cus-col-12 cus-top-filter">
          <div class="page-title w-100 mw-1140 mx-auto position-relative" style="height: 77px; z-index: 10;">
            <div class="min-width-25 mx-4 mx-xl-0 my-4 mt-md-5 position-absolute">
              <div id="root" class="site-search-switcher">
                <div class="search-switcher">
                  <div class="search-switcher-absolute-container">
                    <h3><i class="fas fa-graduation-cap fa-fw"></i> My Learning</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cus-col-12">
          <div id="facetDeliveryFormats" class="cus-col-12 px-0">
            <div class="facetwp-facet facetwp-facet-product_delivery_formats facetwp-type-radio" data-name="product_delivery_formats" data-type="radio">
              <nav class="scrollable mx-auto">
                <div class="nav-tabs px-4 _px-sm-0">
                  <div id="radioAll" class="fwp-radio  checked" data-value="courses-inprogress" [ngClass]="{'selected': tab==='tab1'}" (click)="onClick('1')">
                    <span>Courses: In Progress(5)</span>
                  </div>
                  <div class="facetwp-radio fwp-radio " data-value="courses-person" [ngClass]="{'selected': tab==='tab2'}" (click)="onClick('2')" data-counter="0">
                    <span class="">Courses: Completed(3)</span>
                  </div>
                  <!--<div class="facetwp-radio fwp-radio " data-value="online" [ngClass]="{'selected': tab==='tab3'}" (click)="onClick('3')" data-counter="245">
                    <span class="">Track my CME</span>
                  </div>-->
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Filter Section -->
    <div class="cus-container catalog-container px-0" style="min-height: 40rem">
      <div class="cus-row no-gutters my-0 py-4 py-sm-5">
        <div class="cus-col-12 cus-col-sm-12 cus-col-md-12 cus-col-lg-12">
          <div id="courses-inprogress" class="pl-0 pl-sm-5" [ngStyle]="(tab==='tab1')?{'display':'block'}:{'display':'none'}">
            <div class="facetwp-template">
              <div class="catalog-item cus-col-md-12 mb-5 p-0">
                <a class="card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">Online Course on Alabama Law - 2018 Edition</p>
                        <div class="cpe-label order-1"><label>14 Activities</label><br /><input type="button" class="btn btn-default" value="Access" /></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="catalog-item cus-col-md-12 mb-5 p-0">
                <a class="card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">Online Course on Alabama Law - 2018 Edition</p>
                        <div class="cpe-label order-1"><label>1 Activities</label><br /><input type="button" class="btn btn-default" value="Access" /></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="catalog-item cus-col-md-12 mb-5 p-0">
                <a class="card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">Embracing Health & Wellness in the Legal Profession</p>
                        <div class="cpe-label order-1"><label>1 Activities</label><br /><input type="button" class="btn btn-default" value="Access" /></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="catalog-item cus-col-md-12 mb-5 p-0">
                <a class="card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">What Every Divorce Lawyer Needs to Know - Social Security, Divorce & Domestic Violence</p>
                        <div class="cpe-label order-1"><label>1 Activities</label><br /><input type="button" class="btn btn-default" value="Access" /></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div id="courses-person" class="pl-0 pl-sm-5" [ngStyle]="(tab==='tab2')?{'display':'block'}:{'display':'none'}">
            <div class="cus-row no-gutters my-0 py-4 py-sm-5">
              <div class="cus-col-12 cus-col-sm-7 cus-col-md-8 cus-col-lg-9">
                <a class="card coursecomplete-card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail courses-margin" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">
                          Embracing Health & Wellness in the Legal Profession <br />
                          <span style="font-weight:bold"> Credits:</span> 1 CLE Credits<br />
                          <span class="item-details">
                            When Home Isn't Safe - Domestic Violence During a Pandemic<br />
                            Courtesy of Legal Services Alabama<br />
                            Presenter: Kelly F. McTear<br />
                            1.0 CLE Credits
                          </span>
                        </p>
                        <div class="cpe-label order-1 courses-margin"><label>Price $0.00</label><br /><input type="button" class="btn btn-default S-btn-addToCart" value="Buy" /></div><br />
                      </div>
                    </div>
                  </div>
                </a>
                <a class="card coursecomplete-card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail courses-margin" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">
                          Defending Third Party Debt Buyer Cases <br />
                          <span style="font-weight:bold"> Credits:</span> 1 CLE Credits<br />
                          <span class="item-details">
                            Defending Third Party Debt Buyer Cases<br />
                            Courtesy of Legal Services Alabama<br />
                            Presenter: John G. Watts<br />
                            1.0 CLE Credits
                          </span>
                        </p>
                        <div class="cpe-label order-1 courses-margin"><label>Price $0.00</label><br /><input type="button" class="btn btn-default S-btn-addToCart" value="Buy" /></div><br />
                      </div>
                    </div>
                  </div>
                </a>
                <a class="card coursecomplete-card" href="#">
                  <div class="card-footer cus-row no-gutters my-0">
                    <div class="card-details cus-col-12">
                      <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                        <img class="img-thumbnail courses-margin" src="https://s3.us-east-1.amazonaws.com/alabar-prolearnfiles/images/b94e87cd_fcd6_4bf6_8032_18582ba6026a-ASBlogoBlue.png" />
                        <p class="p-text">
                          ERISA Survival Kit <br />
                          <span style="font-weight:bold"> Credits:</span> 1 CLE Credits<br />
                                                                                       <span class="item-details">
                                                                                         ERISA Survival Kit<br />
                                                                                         Courtesy of Legal Services Alabama<br />
                                                                                         Presenter: David P. Martin<br />
                                                                                         1.0 CLE Credits
                                                                                       </span>
                        </p>
                        <div class="cpe-label order-1 courses-margin"><label>Price $0.00</label><br /><input type="button" class="btn btn-default S-btn-addToCart" value="Buy" /></div><br />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cus-col-12 cus-col-sm-5 cus-col-md-4 cus-col-lg-3">
                <div class="catalog-item">
                  <a class="card shopping-margin" href="#">
                    <div class="card-header cus-row no-gutters my-0 hid">
                      <div class="cus-col-12 d-flex justify-content-between align-items-center flex-wrap flex-md-nowrap" style="background: rgba(213,243,248,.5);">
                        <h3 class="shopping-card">Shopping Cart</h3>
                      </div>
                    </div>
                    <div class="card-footer cus-row no-gutters my-0">
                      <div class="card-details cus-col-12">
                        <div class="d-flex justify-content-between _justify-content-md-between flex-wrap">
                          <div class="">
                            <span class="fa fa-minus-circle text-danger" style="cursor:pointer;display:inline;color:red" role="button" tabindex="0"></span>&nbsp;
                            <label class="shopping-details">Defending Third Party Debt Buyer Cases</label><br />
                            <input type="text" value="1" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Tabs Section Ends -->
