<header 
  id="larutaHeader"
  data-header-version="2.1"
  class="cus-header laruta-header d-print-none mobile-opened"
>
  <!-- Top Header Section -->

  <div id="mobileNav" class="mobile-nav-container opened">
    <div class="mobile-nav">
      <div class="mobile-controls">
        <div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav"> <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="mobile-links-scroll-container">
        <div id="mobileLinks" class="mobile-links">
          <nav id="mobilePrimaryLinks" class="mobile-primary-links">
            <a href="#0" class="has-submenu" data-primary-link="for-members"> For Members </a>
            <a href="#0" class="has-submenu" data-primary-link="learning-cpe"> Learning &amp; CPE </a>
            <a href="#0" class="has-submenu" data-primary-link="member-communities"> Member Communities </a>
            <a href="#0" class="has-submenu" data-primary-link="advocacy"> Advocacy </a>
            <a href="#0" class="has-submenu" data-primary-link="for-the-public"> For The Public </a>
            <a href="#0" class="has-submenu" data-primary-link="about"> About </a>
            <a href="#"> Contact </a>
          </nav>
          <hr />
          <nav id="mobileSuperNavLinks" class="mobile-super-nav-links">
            <div><a href="#"> Advertise &amp; Sponsor </a></div>
            <div><a href="#" target="_new"> Student's Website </a></div>
            <div><a href="#"> COCPA Connect </a></div>
            <div><a href="#"> COVID-19 Resources </a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <input type="checkbox" name="toggleMobileAccountMenu" id="toggleMobileAccountMenu" />
  <div id="mobileAccountMenu" class="mobile-user-account-menu closed logged-out" data-user-is-staff="">
      <div id="mobileCallToActionButtons" class="mobile-nav-account-actions">
          <a href="" id="larutaAccountLogin" data-trigger="auth0Modal"> <div>Login</div> </a>
      </div>
  </div>

  <div id="subMenus" class="submenus" *ngIf="this.isLayout!='admin'">
    <div class="submenu closed" data-primary-link="for-members" style="background-image: url('/assets/images/Background-For-Members.svg')">
      <div class="mobile-controls">
        <div>
          <div class="mobile-control-close-submenus mobile-control return-to-primary">
            <span class="icon-arrow-left"></span>
          </div>
          <div class="nav-label">For Members</div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="submenu-column column-1">
          <div class="block link-list link-group major-links">
            <div class="links">
              <a href="#">For New Members</a>
              <a href="#">Member Discounts</a>
              <a href="#">Preferred Partners</a>
              <a href="#" target="_new">COCPA Career Center</a>
              <a href="#">NewsAccount Bi-Monthly Magazine</a>
              <a href="#">NewsQuick Weekly E-Newsletter</a>
              <a [routerLink]="['/search']">QuickSearch Course Catalog</a>
              <a href="#">COCPA Connect</a>
              <a href="#">Educational Foundation</a>
              <a href="#">Volunteer Opportunities</a>
              <a href="#">Member Logos</a>
            </div>
          </div>
        </div>
        <div class="submenu-column column-2">
          <div class="block header">
            <h5>Professional Interest Areas</h5>
          </div>
          <div class="block link-list link-group major-links">
            <div class="links">
              <a href="#">Accounting &amp; Auditing</a>
              <a href="#">Members In Industry</a>
              <a href="#">Tax</a>
              <a href="#">Technology</a>
            </div>
          </div>
          <div class="block header">
            <h5>Partner</h5>
          </div>
          <div class="block special-image">
            <a href="#">
              <img src="/assets/images//Website-Display-Ad-White-Paper-Download-10.11.21.jpg" class="" alt="" longdesc="" />
            </a>
          </div>
        </div>
        <div class="submenu-column column-3">
          <div class="block featured-links featured-items">
            <h5>Featured CPE Events</h5>
            <div>
              <a href="#" class="featured-link">
                <img src="/assets/images/300x100-web-COCPA-SEC-PCAOB-2021.jpg" alt="" />
              </a>
              <a href="#" class="featured-link">
                <img src="/assets/images/300x100-web-COCPA-Mix-Match-2021.jpg" alt="" />
              </a>
              <a href="#" class="featured-link">
                <img src="/assets/images/300x100-web-COCPA-Don-Farmer-2020-21-Federal.jpg" alt="" />
              </a>
              <a href="#" class="featured-link see-more-link is-text">
                <div>See All Featured Events</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submenu closed" data-primary-link="learning-cpe" style="background-image: url('/assets/images/Background-Learning-CPE-1.svg');">
      <div class="mobile-controls">
        <div>
          <div class="mobile-control-close-submenus mobile-control return-to-primary">
            <span class="icon-arrow-left"></span>
          </div>
          <div class="nav-label">Learning &amp; CPE</div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="submenu-column column-1">
          <div class="block header">
            <h5>CPE Programs</h5>
          </div>
          <div class="block link-list link-group major-links">
            <div class="links">
              <a [routerLink]="['/search']">Course Catalog Search</a>
              <a href="#">CPE Calendar</a>
              <a href="#">CPE &amp; Ethics Requirements</a>
              <a href="#">On-Demand CPE</a>
              <a href="#">Customized Team Training</a>
              <a href="#">CPE FAQs &amp; Policies</a>
              <a href="#">Web Programs</a>
            </div>
          </div>
        </div>
        <div class="submenu-column column-2">
          <div class="block header">
            <h5>Featured CPE Products</h5>
          </div>
          <div class="block link-list link-group minor-links">
            <div class="links">
              <a href="#">CPExpress</a>
              <a href="#">CPE Season Pass</a>
              <a href="#">Certificate Programs</a>
            </div>
          </div>
          <div class="block header">
            <h5>Partner</h5>
          </div>
          <div class="block special-image">
            <a href="#">
              <img src="/assets/images/Website-Display-Ad-White-Paper-Download-10.11.21.jpg" class="" alt="" longdesc="" />
            </a>
          </div>
        </div>
        <div class="submenu-column column-3">
          <div class="block featured-links featured-items">
            <h5>Featured CPE Events</h5>
            <div>
              <a href="#" class="featured-link">
                <img src="/assets/images/300x100-web-COCPA-SEC-PCAOB-2021.jpg" alt="" />
              </a>
              <a href="#" class="featured-link">
                <img src="/assets/images/300x100-web-COCPA-Mix-Match-2021.jpg" alt="" />
              </a>
              <a href="#" class="featured-link">
                <img src="/assets/images/300x100-web-COCPA-Don-Farmer-2020-21-Federal.jpg" alt="" />
              </a>
              <a href="" class="featured-link see-more-link is-text">
                <div>See All Featured Events</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submenu closed" data-primary-link="member-communities" style="background-image: url('/assets/images/Background-Member-Communities.svg');">
      <div class="mobile-controls">
        <div>
          <div class="mobile-control-close-submenus mobile-control return-to-primary">
            <span class="icon-arrow-left"></span>
          </div>
          <div class="nav-label">Member Communities</div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="submenu-column column-1">
          <div class="block link-list link-group major-links">
            <div class="links">
              <a href="#">Member Chapters</a>
              <a href="#">Member Connections Committee</a>
              <a href="#">Volunteer Opportunities</a>
              <a href="#">Aspiring CPAs</a>
              <a href="#">CFO Roundtable</a>
              <a href="#">Technology Users Group</a>
              <a href="#">Diversity, Equity, and Inclusion Working Group</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submenu closed" data-primary-link="advocacy" style="background-image: url('/assets/images/Background-For-Members.svg');">
      <div class="mobile-controls">
        <div>
          <div class="mobile-control-close-submenus mobile-control return-to-primary">
            <span class="icon-arrow-left"></span>
          </div>
          <div class="nav-label">Advocacy</div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="submenu-column column-1">
          <div class="block link-list link-group major-links">
            <div class="links">
              <a href="#">Colorado Department of Revenue</a>
              <a href="#">Legislative &amp; Regulatory Efforts</a>
              <a href="#">COCPA PAC</a>
              <a href="#">COCPA &amp; AICPA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submenu closed" data-primary-link="for-the-public" style="background-image: url('/assets/images/Background-Learning-CPE-1.svg');">
      <div class="mobile-controls">
        <div>
          <div class="mobile-control-close-submenus mobile-control return-to-primary">
            <span class="icon-arrow-left"></span>
          </div>
          <div class="nav-label">For The Public</div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="submenu-column column-1">
          <div class="block link-list link-group major-links">
            <div class="links">
              <a href="#">Why CPAs?</a>
              <a href="#">Why COCPA?</a>
              <a href="#">Peer Review</a>
              <a href="#">Classifieds</a>
              <a href="#">Room Rental</a>
              <a href="#">Financial Literacy Review</a>
              <a href="#">Referral Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submenu closed" data-primary-link="about" style="background-image: url('/assets/images/Background-Member-Communities.svg');">
      <div class="mobile-controls">
        <div>
          <div class="mobile-control-close-submenus mobile-control return-to-primary">
            <span class="icon-arrow-left"></span>
          </div>
          <div class="nav-label">About</div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="submenu-column column-1">
          <div class="block link-list link-group major-links">
            <div class="links">
              <a href="#">Member Promise</a>
              <a href="#">Vision &amp; History</a>
              <a href="#">Core Purpose and Values</a>
              <a href="#">Staff</a>
              <a href="#">Board of Directors</a>
              <a href="#">COCPA Code of Professional Conduct</a>
              <a href="#">Bylaws &amp; Financial Statements</a>
              <a href="#">Visiting COCPA</a>
              <a href="#">Membership Plans</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="siteSearchSubMenu" class="site-search submenu closed" data-primary-link="site-search" style="background-image: url('/assets/images/Background-For-Members.svg');">
      <div class="mobile-controls">
        <div>
          <label for="toggleMobileNav" class="mobile-control-toggle-nav mobile-control close-mobile-nav">
            <span class="fas fa-times"></span>
          </label>
        </div>
      </div>
      <div class="submenu-content">
        <div class="site-search-container bootstrap">
          <div class="sub-main search-form-container fwp-search-form">
            <form id="fwpSearchForm" method="" action="" class="fwp-global-search needs-validation">
              <div class="row form-group fwp-search-group justify-content-center _justify-content-md-between hide">
                <div class="custom-control custom-radio">
                  <input type="radio"
                         name="fwpSearchFormRoute"
                         id="fwp_site_search"
                         class="custom-control-input"
                         data-route="query"
                         data-placeholder="Type to search…"
                         data-page=""
                         checked="" />
                  <label class="custom-control-label" for="fwp_site_search">Blog, Website, &amp; Team Training</label>
                </div>
              </div>
              <div class="form-group row">
                <div class="input-group facetwp-search-wrap mt-0">
                  <input type="text"
                         id="fwpSearchFormInput"
                         class="form-control"
                         name="query"
                         value=""
                         placeholder="Type to search…"
                         aria-label=""
                         aria-describedby="fwpSearchFormSubmitBtn"
                         pattern=".{3,}"
                         title="3 characters minimum"
                         required="" />
                  <div class="input-group-append">
                    <button class="btn w-100 h-100 m-0 px-3 border-0" id="fwpSearchFormSubmitBtn">
                      <span class="icon-search body-text-large"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="super-nav-container" *ngIf="this.isLayout!='admin'">
    <div class="cus-container nav-container-inner">
      <div class="super-nav-links static">
        <div class="scroll-button scroll-left">
          <span class="icon-chevron-left"></span>
        </div>
        <nav>
          <a href="#">
            <div>Advertise &amp; Sponsor</div>
          </a>
          <a href="#" target="_new">
            <div>Student's Website</div>
            <i class="fas fa-external-link-alt gray-dark"></i>
          </a>
          <a href="#">
            <div>COCPA Connect</div>
          </a>
          <a href="#">
            <div>COVID-19 Resources</div>
          </a>
        </nav>
        <div class="scroll-button scroll-right">
          <span class="icon-chevron-right"></span>
        </div>
      </div>
      <div class="user-account-menu logged-out">
        <a href="#" class="login-con">
          <div>Login</div>
        </a>
      </div>
      <div class="membership-badge-container">
        <a href="#" class="membership-badge has-tooltip" aria-expanded="false">
          <div class="membership-badge-label"> Join </div>
        </a>
        <div class="tooltip-con">Join COCPA and enjoy exclusive member benefits.</div>
        <div id="badgeMessage" style="display: none; font-size: 19px !important;"> Join COCPA and enjoy exclusive member benefits. </div>
      </div>
    </div>
  </div>
  <!-- Logo/Menus Header Section -->
  <div id="superAndPrimaryNavContainer" class="super-and-primary-nav-container">
    <div id="primaryNav" class="primary-nav-container" *ngIf="this.isLayout!='admin'">
      <div class="primary-nav">
        <div id="headerSiteLogo" class="header-site-logo">
          <a href="#">
            <img src="/assets/images/logo.png" class="light-over-dark">
            <img src="/assets/images/logo.png" class="dark-over-light">
          </a>
        </div>
        <nav id="primaryLinks" class="primary-links">
          <a href="javascript:void(0)" class="primary-link has-submenu" data-primary-link="for-members">
            <div>My learning</div>
          </a>
          <a href="javascript:void(0)" class="primary-link has-submenu" data-primary-link="learning-cpe">
            <div>CME Catalog</div>
          </a>
          <a href="javascript:void(0)" class="primary-link has-submenu" data-primary-link="member-communities">
            <div>Contact Us</div>
          </a>
          <a href="javascript:void(0)" class="primary-link has-submenu" data-primary-link="advocacy">
            <div>My Courses</div>
          </a>
          <a href="javascript:void(0)" class="primary-link has-submenu" data-primary-link="for-the-public">
            <div>Return to PAMED Website</div>
          </a>
          <a href="javascript:void(0)" class="primary-link has-submenu" data-primary-link="about">
            <div>Help</div>
          </a>
          <!--<a href="#" class="primary-link">
            <div>Contact</div>
          </a>-->
        </nav>
        <div id="siteActions" class="site-actions">
          <div id="siteSearch">
            <a href="#" class="site-action primary-link has-submenu">
              <span class="fas fa-search"></span>
            </a>
          </div>
          <label class="site-action" id="mobileNavToggle" for="toggleMobileNav" href="">
            <span class="fas fa-bars"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
