<div id="wrapper" class="cus-sidebar-menus np-menubar">
  <nav class="navbar navbar-dark fixed-top d-block" id="sidebar-wrapper" role="navigation">
    <button class="hamburger is-closed" data-toggle="offcanvas" id="toggelbtn" title="Opciones del menú" type="button">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="nav sidebar-nav">
      <li class="nav-item sidebar-brand">
        <div class="edition-txt">
          <div class="flex-item-left-fw">
            <div class="item-left">
              <div class="prolearn-logo-container-sm" fortid="/prolearn-logo-container-sm.html">
                <img src="https://chima.my.prolearn.io/syng_components/common/clientandui/uitemplates/customer/prolearn/images/prolearn-logo-aqua-white.png">
              </div>
            </div>
            <div class="pro-edition">
              <div class="colored-block"></div>
              Professional Edition
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item hasDD" *ngFor="let item of itemsMenu" >
        <a  aria-expanded="false"  class="nav-link dropdown-toggle no_caret" data-toggle="tooltip"   id="dropdownMenu1" title="" x-placement="right" data-original-title="">
          <i class="{{item.icon}}"></i>
          <span>{{item?.label}}</span>
          <span class="caret" *ngIf="item?.childern"></span>
        </a>
        <ul>
          <li *ngFor="let val of item?.items" >
            <a >{{val?.label}}</a></li>
          
        </ul>
      </li>
    </ul>
  </nav>
</div>
