<!--<div class="header">
  <a href="#default" class="logo"><img src="https://chima.my.prolearn.io/customer/chima/images/cobrandingLogo.png" style="width:200px"/></a>
  <div class="header-right">
    <a class="active" href="#home">My Learning</a>
    <a href="javascript">CheckOut</a>
    <a href="#about">Course Catalog</a>
    <a href="#about">Help</a>
    <a href="#about"><select><option></option></select></a>
</div>
</div>-->
<div class="topnav" id="myTopnav">
  <a href="#default" class="logo"><img src="https://chima.my.prolearn.io/customer/chima/images/cobrandingLogo.png" style="width:200px" /></a>
  <div class="dropdown right-side">
    <button class="dropbtn">
      My Profile
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content ">
      <a href="#">My Course</a>
      <a href="#">My Calendar</a>
      <a href="#">Our History</a>
      <a href="#">LogOut</a>
    </div>
  </div>
  <a href="#news" class="right-side">My Learning</a>
  <a href="#contact" class="right-side">CheckOut</a>
  <a href="#contact" class="right-side">Course Catalog</a>
  <a href="#contact" class="right-side">Help</a>
</div>
<div class="grid">
  <div class="col-1"></div>
  <div class="container col-10">
    <div class="row">
      <p-card [style]="{'margin-top':'13px'}">
        <p-panel>
          <ng-template pTemplate="header">
            <h5>My Learning</h5>
          </ng-template>
          <p-tabView>
            <p-tabPanel header="Courses:In Progerss">
              <p-card [style]="{'margin-bottom':'13px'}">
                <div class="row grid">
                  <div class="sm-4 ">
                    <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/1ac3ac2e_b9fc_99ab_14af_6799943d77ad-images/emergencyprep-250.png" />
                  </div>
                  <div class="sm-12 property-margin">
                    <h5 class="heading">Physician Resiliency Summit</h5>
                    <label>Credits: 5.5 AMA PRA Category 1 Credits</label><br />
                    <label>Access expired January 1st 2020, 10:29 am</label>
                  </div>
                </div>
              </p-card>
              <p-card [style]="{'margin-bottom':'13px'}">
                <div class="row grid">
                  <div class="sm-12 ">
                    <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/10ffbee6_0f89_30fa_79e9_c3e101130521-images/6-alternative-treatments-opioids-cme.png" />
                  </div>
                  <div class="col-8 property-margin">
                    <h5 class="heading">Physician Resiliency Summit</h5>
                    <label>Credits: 5.5 AMA PRA Category 1 Credits</label><br />
                    <label>Access expired January 1st 2020, 10:29 am</label>
                  </div>
                </div>
              </p-card>
              <p-card [style]="{'margin-bottom':'13px'}">
                <div class="row grid">
                  <div class="sm-12">
                    <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/3968f6d3_855c_cf01_3c3b_cb6575fb5f47-images/leadership-250.png" />
                  </div>
                  <div class="sm-12 property-margin">
                    <h5 class="heading">Physician Resiliency Summit</h5>
                    <label>Credits: 5.5 AMA PRA Category 1 Credits</label><br />
                    <label>Access expired January 1st 2020, 10:29 am</label>
                  </div>
                </div>
              </p-card>
            </p-tabPanel>
            <p-tabPanel header="Courses :Completed">
              <p-card [style]="{'margin-bottom':'13px'}">
                <div class="row grid">
                  <div class="sm-12">
                    <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/d6697411_2289_98db_fc66_aba71378ff61-images/5-pdmp-cme00039f5b7f434c77a799ee375f4947e7.png" />
                  </div>
                  <div class="col-8 property-margin">
                    <h5 class="heading">PA Health Check UP (Erie)</h5>
                    <label>Credits: 2.5 AMA PRA Category 1 Credits,</label><br />
                    <label>Access expired January 1st 2020, 10:29 am</label>
                  </div>
                </div>
              </p-card>
              <p-card [style]="{'margin-bottom':'13px'}">
                <div class="row grid">
                  <div class="sm-12">
                    <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/10ffbee6_0f89_30fa_79e9_c3e101130521-images/6-alternative-treatments-opioids-cme.png" />
                  </div>
                  <div class="col-8">
                    <h5 class="heading">Physician Resiliency Summit</h5>
                    <label>Credits: 5.5 AMA PRA Category 1 Credits</label><br />
                    <label>Access expired January 1st 2020, 10:29 am</label>
                  </div>
                </div>
              </p-card>
              <p-card [style]="{'margin-bottom':'13px'}">
                <div class="row grid">
                  <div class="sm-12">
                    <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/3968f6d3_855c_cf01_3c3b_cb6575fb5f47-images/leadership-250.png" />
                  </div>
                  <div class="col-8">
                    <h5 class="heading">Physician Resiliency Summit</h5>
                    <label>Credits: 5.5 AMA PRA Category 1 Credits</label><br />
                    <label>Access expired January 1st 2020, 10:29 am</label>
                  </div>
                </div>
              </p-card>
            </p-tabPanel>
            <p-tabPanel header="My User Groups">
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
              </p>
            </p-tabPanel>
            <p-tabPanel header="My Discussion">
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
              </p>
            </p-tabPanel>
          </p-tabView>
        </p-panel>
      </p-card>
    </div>

  </div>
  <div class="col-1"></div>
</div>
<div class="grid">
  <div class="col-1">

  </div>
  <div class="container col-8">
    <div class="grid">
      <h4>Catalogs</h4>
      <div class="col-6" [style]="{'margin-top':'30px'}">
        <ng-multiselect-dropdown #multiSelect
                                 [placeholder]="'Select City'"
                                 [settings]="settings"
                                 [data]="data"
                                 [disabled]="false"
                                 (onFilterChange)="onFilterChange($event)"
                                 (onDropDownClose)="onDropDownClose($event)"
                                 (onSelect)="onItemSelect($event)"
                                 (onDeSelect)="onDeSelect($event)"
                                 (onSelectAll)="onSelectAll($event)"
                                 (onDeSelectAll)="onDeSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div class="grid">
  <div class="col-1">

  </div>
  <div class="container col-10">
    <div class="grid">
      <div class="col-2">
        <h4>
          Filter Fields
        </h4>
        <div [style]="{'margin-top':'30px'}">
          <ng-multiselect-dropdown #multiSelect
                                   [placeholder]="'Course Name and Description '"
                                   [settings]="settings"
                                   [data]="data"
                                   [disabled]="false"
                                   (onFilterChange)="onFilterChange($event)"
                                   (onDropDownClose)="onDropDownClose($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onDeSelect)="onDeSelect($event)"
                                   (onSelectAll)="onSelectAll($event)"
                                   (onDeSelectAll)="onDeSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div [style]="{'margin-top':'30px'}">
          <ng-multiselect-dropdown #multiSelect
                                   [placeholder]="'Category'"
                                   [settings]="settings"
                                   [data]="data"
                                   [disabled]="false"
                                   (onFilterChange)="onFilterChange($event)"
                                   (onDropDownClose)="onDropDownClose($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onDeSelect)="onDeSelect($event)"
                                   (onSelectAll)="onSelectAll($event)"
                                   (onDeSelectAll)="onDeSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div [style]="{'margin-top':'30px'}">
          <ng-multiselect-dropdown #multiSelect
                                   [placeholder]="'Credits'"
                                   [settings]="settings"
                                   [data]="data"
                                   [disabled]="false"
                                   (onFilterChange)="onFilterChange($event)"
                                   (onDropDownClose)="onDropDownClose($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onDeSelect)="onDeSelect($event)"
                                   (onSelectAll)="onSelectAll($event)"
                                   (onDeSelectAll)="onDeSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div [style]="{'margin-top':'30px'}">
          <ng-multiselect-dropdown #multiSelect
                                   [placeholder]="'Sponsors'"
                                   [settings]="settings"
                                   [data]="data"
                                   [disabled]="false"
                                   (onFilterChange)="onFilterChange($event)"
                                   (onDropDownClose)="onDropDownClose($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onDeSelect)="onDeSelect($event)"
                                   (onSelectAll)="onSelectAll($event)"
                                   (onDeSelectAll)="onDeSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

      </div>
      <div class="col-10">
        <p-card [style]="{'margin-bottom':'13px','border':'1px solid green'}">
          <div class="col-12 grid">
            <img class="img-thumbnail" src="https://s3.amazonaws.com/pamedsoc-prolearnfiles/1ac3ac2e_b9fc_99ab_14af_6799943d77ad-images/emergencyprep-250.png" />
            <h5 class="heading propery-margin">Physician Resiliency Summit</h5>
            <button pButton pRipple label="Edit" type="button" class="p-button-secondary col-1 edit-button"></button>
          </div><br />
          <hr class="dashed">
          <div class="grid">
            <div class="vl box-width">
              <h5>CREDITS</h5>
              <label>1 Patient Safety/ Risk</label><br />
              <label>Management Hours</label>
            </div>
            <div class="vl box-width">
              <h5>TAGS</h5>
              <label>ER</label>
            </div>
            <div class="vl box-width">
              <h5>SPONSORS</h5>
              <label>-</label>
            </div>
            <div class="vl box-width">
              <h5>TYPE</h5>
              <label>Course</label>
            </div>
          </div>
          <hr class="dashed">
          <div  class="grid" style="float:right"><button pButton pRipple label="Take Course" type="button" class="p-button-info button-width"></button></div>
        </p-card>
      </div>
      <div class="col-2"></div>
      <div class="col-10">
        <p-card [style]="{'margin-bottom':'13px','border':'1px solid green'}">
          <div class="col-12 grid">
            <img class="img-thumbnail" src="https://s3.us-east-1.amazonaws.com/pamedsoc-prolearnfiles/images/372b7285_33f7_4632_7d77_9f1e31ee08b4-cmeconsult2018_card_updated.jpg" />
            <h5 class="heading propery-margin">Physician Resiliency Summit</h5>
             <button pButton pRipple label="Edit" type="button" class="p-button-secondary col-1 edit-button"></button>
          </div><br />
          <hr class="dashed">
          <div class="grid">
            <div class="vl box-width">
              <h5>CREDITS</h5>
              <label>1 Patient Safety/ Risk</label><br />
              <label>Management Hours</label>
            </div>
            <div class="vl box-width">
              <h5>TAGS</h5>
              <label>ER</label>
            </div>
            <div class="vl box-width">
              <h5>SPONSORS</h5>
              <label>-</label>
            </div>
            <div class="vl box-width">
              <h5>TYPE</h5>
              <label>Course</label>
            </div>
          </div>
          <hr class="dashed">
          <div class="grid" style="float:right"><button pButton pRipple label="Take Course" type="button" class="p-button-info button-width"></button></div>
        </p-card>
      </div>
    </div>
  </div>
</div>
