.flex-wrap {
  //flex-wrap:initial !important;
  width: 100%important;
  width: 100%Important;
}
.flex-md-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}
.pl-0 {
  padding-left: 2rem !important;
}
