.flex-wrap {
  //flex-wrap:initial !important;
  width: 100%important;
  width: 100%Important;
}

@media (min-width: 768px) {
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
}

.pl-0 {
  padding-left: 0rem !important;
}
