<div class="col-12 grid">
  <!-- <app-sidebar #sidebarComponent  ></app-sidebar> -->
  <app-main-sidebar-menu></app-main-sidebar-menu>
  <div class="fixedAdminHeader">
    <nav class="navbar navbar-dark bg-dark m-0 d-flex">
      <!--<h8 class="margin-headertext">Test User Miljanovic </h8>-->
    </nav>
  </div>
  <div class="col-md-2 col-xs-12">
    <p-panelMenu [style]="{'margin-top': '40px'}" [model]="items"></p-panelMenu>
  </div>
  <div class="col render-component">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer fixedAdminFooter">
  <div class="p-d-flex justify-content-center" style="display: flex;">
    <button type="button" pButton
            class="p-button mr-2">
      Save & Close
    </button>
    <button type="button" pButton
            class="p-button mr-2">
      Save
    </button>
  </div>
</div>








