@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

$window-width: get-vw(400px);

.main-menu {
  width: 2.333333%;
}

.chil-menu {
  position: relative;
  min-height: 1px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 11%;
}

.fixedAdminHeader {
  height: 5% !important;
}

.margin-headertext {
  margin-left: 36px !important;
}

.user-panel-child {
  position: relative;
  padding: 0 25px 10px 15px;
  overflow: auto;
}

.side-panel {
  margin-top: 2px;
  position: relative;
  overflow: auto;
  max-height: $window-width;
}

.user-panel-child {
  width: 14.6667% !important;
}

.render-component {
  margin-top: 2px;
  position: relative;
  overflow: auto;
  max-height: $window-width;
  margin-left: 15px;
}

.side-panel::-webkit-scrollbar {
  display: none;
}

.render-component::-webkit-scrollbar {
  display: none;
}

.grid.rem-spacing {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .fixedAdminHeader {
    margin-left: 0;
    height: auto !important;
  }

  .fixedAdminFooter {
    margin-left: 0;
  }

  .render-component {
    max-height: none;
    margin-left: 0;
    width: 100%;
  }
}
