<div class="col-12 grid">
 
  <app-sidebar #sidebarComponent (click)="expand()"></app-sidebar>
      <div class="fixedAdminHeader">
      <nav class="navbar navbar-dark bg-dark m-0 d-flex">
        <!--<h8 class="margin-headertext">Test User Miljanovic </h8>-->
      </nav>
    </div>
      <div class="col-2 user-panel-child">
        <p-panelMenu [style]="{'margin-top': '40px'}" [model]="items"></p-panelMenu>
      </div>
      <div [ngClass]="isclass?'col-7':'col-9'" class="side-panel">
        <router-outlet></router-outlet>
      </div>
  </div>
<div class="footer fixedAdminFooter">
  <div class="p-d-flex justify-content-center" style="display: flex;">
    <button type="button" pButton
            class="p-button mr-2">
      Save & Close
    </button>
    <button type="button" pButton
            class="p-button mr-2">
      Save
    </button>
  </div>
</div>








