<div class="col-md-2 p-0 user-panel">
  <div class="col-2">
    <p-sidebar [(visible)]="isExpanded" position="left">
      <div class="edition-txt"> <div class="flex-item-left-fw"> <div class="item-left"><!--beg s-include: /prolearn-logo-container-sm.html -->
        <div class="prolearn-logo-container-sm"  > 
          <img src="	https://chima.my.prolearn.io/syng_components/commo…omer/prolearn/images/prolearn-logo-aqua-white.png"> 
        </div><!--end s-include: /prolearn-logo-container-sm.html --></div>
         <div>
            <div class="colored-block">

            </div>
         Professional Edition
         </div>
         </div>
         </div>
      <div class="my-4">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
     <h3> Test Admin <div class="caret"></div> </h3>
     
      </div>
      <span _ngcontent-tmf-c114="" class="p-input-icon-left">
        <i _ngcontent-tmf-c114="" class="pi pi-search"></i>

        <input _ngcontent-tmf-c114="" pinputtext="" type="text" placeholder="Search..."
          class="p-inputtext p-component p-element"></span>
      <p-panelMenu [style]="{'margin-top': '40px'}" [model]="items1">

      </p-panelMenu>
    </p-sidebar>

    <div class="sidebar">
      <div class="header">
        <h1 class="title">
          PROLERN
        </h1>
        <div class="toggle" (click)="handleSidebarToggle()">
          <span class="chevron"></span>
        </div>
      </div>
      <!--<p-panel class="collapse" header="Panel 4" [toggleable]="true" [(collapsed)]="collapsed" [style]="{'margin-bottom':'20px'}">
      seach
      </p-panel>-->
      <div class="content" *ngFor="let item of model">
        <div *ngIf="item.childern=='false'; else elseBlock">
          <div class="link">
            <div class="content dropdown-toggle" [routerLink]="['{{item.route}}']" [routerLinkActive]="'active'"
              data-toggle="collapse" aria-expanded="false">
              <div class="icon">
              </div>
              <div class="title">{{item.text}}</div>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="children">
            <div class="link">
              <div class="content" [routerLink]="['{{item.route}}']" [queryParams]="{ 'child': '1' }"
                [routerLinkActive]="'active'">
                <div class="icon">
                  <i class="{{item.icon}}" style="font-size:24px"></i>
                </div>
                <div class="title">{{item.text}}</div>
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

</div>