 
<div id="wrapper" class="cus-sidebar-menus">
    <nav class="navbar navbar-dark fixed-top d-block" id="sidebar-wrapper" role="navigation">
        <button class="hamburger is-closed"  id="toggelbtn" data-toggle="offcanvas" title="Opciones del menú" type="button">
            <i class="fa fa-bars" ></i>
        </button>
        <ul class="nav sidebar-nav">
            <li class="nav-item sidebar-brand">
                <div class="edition-txt">
                    <div class="flex-item-left-fw">
                        <div class="item-left">
                            <div class="prolearn-logo-container-sm" fortid="/prolearn-logo-container-sm.html">
                                <img src="https://chima.my.prolearn.io/syng_components/common/clientandui/uitemplates/customer/prolearn/images/prolearn-logo-aqua-white.png">
                            </div>
                        </div>
                        <div class="pro-edition">
                            <div class="colored-block"></div>
                            Professional Edition
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="fa fa-info-circle"></i>
                    <span>Help And Tutorials</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="fa-fw fa-tachometer-alt-fast fal"></i>
                    <span>Create New</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="fa fa-fw fa-plus"></i>
                    <span>Analytics</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="fa-fw fa-upload fas"></i>
                    <span>Upload</span>
                </a>
            </li>
            <li class="nav-item hasDD">
                <a aria-expanded="false" class="nav-link dropdown-toggle no_caret" id="dropdownMenu1" title="" x-placement="right" data-original-title="">
                    <i class="fa-calendar-alt fa-fw far"></i>
                    <span>Users</span>
                    <span class="caret"></span>
                </a>
                <ul>
                    <li><a href="#">Illustration</a></li>
                    <li><a href="#">Third level </a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-book pi-fw"></i>
                    <span>Schedule/Calander</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-fw pi-list"></i>
                    <span>Cummunity/Messaging</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-fw pi-list"></i>
                    <span>Learning Content</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="fa-fw fa-upload fas"></i>
                    <span>Files & Media</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-fw pi-user-plus"></i>
                    <span>Web & Email Content</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-fw pi-users"></i>
                    <span>StoreFront & Commerce</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-book pi-fw"></i>
                    <span>Advanced</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="#" title="" x-placement="right" data-original-title="">
                    <i class="pi pi-fw pi-slack"></i>
                    <span>Configuration & Tools</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
